html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    background-color: aquamarine;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 20%;
    background-color: rgb(192, 188, 188);
    padding: 10px 20px 0px;
    font-size: 12px;
    line-height: 25px;
}
.header {
    background-color: rgb(143, 145, 145);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    line-height: 8px;
    font-size: 14px

}
.footer {
    background-color: lightgray;
    min-height:70px;
    padding: 20px;
    line-height: 5px;
    font-size: 12px;
    
}